@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #002339;
    color: #fff;
}

.container {
    margin: 5% 10%;
    max-width: 700px;
    width: 90%;
}

.container h1 {
    font-size: 35px;
    font-weight: 400;
}

.container h1 span {
    color: #019f55;
}

.container button {
    align-items: center;
    background: linear-gradient(to right, #3eff37 50%, #019f55 50%);
    background-position: right;
    background-size: 200% 100%;
    border: 0;
    border-radius: 12.5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 25px;
    font-weight: 300;
    justify-content: center;
    padding: 15px 15px;
    position: absolute;
    text-align: center;
    transition: all 0.5s ease-out;
}

.container button img {
    margin-right: 10px;
    width: 30px;
}

.container button:hover {
    background-position: left;
}

.display {
    align-items: center;
    background: #fff;
    border-radius: 12.5px;
    color: #333;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px 20px;
    width: 100%;
}

.display img {
    cursor: pointer;
    width: 30px;
}

.display input {
    border: 0;
    font-size: 25px;
    outline: 0;
}

.logo {
    color: #019f55;
    font-size: 50px;
    font-weight: bold;
    margin: 2.5% 10%;
    max-width: 700px;
    width: 90%;
  }